################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tfsshelvesetexplorer/tfsshelvesetexplorer/obj/Debug
/tfsshelvesetexplorer/tfsshelvesetexplorer/bin/Debug
/tfsshelvesetexplorer/tfsshelvesetexplorer/obj/Release/tfsshelvesetexplorer_MarkupCompile.lref
/tfsshelvesetexplorer/tfsshelvesetexplorer/obj/Release/tfsshelvesetexplorer_MarkupCompile.cache
/tfsshelvesetexplorer/tfsshelvesetexplorer/obj/Release/tfsshelvesetexplorer.csproj.CoreCompileInputs.cache
/tfsshelvesetexplorer/.vs
/tfsshelvesetexplorer/tfsshelvesetexplorer/obj/Release
/tfsshelvesetexplorer/packages
