################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/tfsshelvesetexplorer/tfsshelvesetexplorer/obj/Debug
/tfsshelvesetexplorer/tfsshelvesetexplorer/bin/Debug
